<a href="https://colab.research.google.com/github/Udaykiran06-art/PYTHON-FUNCTIONS/blob/main/Python_Functions_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a function

#function creating
def display():
  print("Welcome to function")

In [ ]:
#return outside of function which is invald
print("Hello")
return 100

Hello

SyntaxError: 'return' outside function (ipython-input-4174778228.py, line 3)

In [ ]:
#Function displaying information
def balance():
  print("My Bank Balance is:")
balance()

My Bank Balance is:

In [ ]:
#Function with return statement displaying information
def balance():
   print("My Bank Balance is:")
   return 100
balance()

My Bank Balance is:

100

In [ ]:
#Function with return statement
def balance():
  print("My Bank Balance is:")
  return 1000

b = balance()
print(b)

My Bank Balance is:
1000

In [ ]:
#Function with return statement
def balance():
        return 18
b = balance()
if b == 0:
  print("My Balance is:",b)
elif b<+20:
  print("My Balance is:","negative please deposit")
else:
  print("My Balance is:",b)

My Balance is: negative please deposit

In [ ]:
#Function with statement
def balance():
  return -50
b = balance()
if b == 0:
  print("Balance is:",b)
elif b<=0:
  print("Balance is:",b,"It is negative please deposit")
else:
  print("Balance is:",b)

Balance is: -50 It is negative please deposit

In [ ]:
#Function with return statement
def balance():
  print("My Bank Balance is:")
  return 1800
print(balance())

My Bank Balance is:
1800

In [ ]:
#Function returning the None value
def m1():
  print("This function is returing Nothing:")
x = m1()
print(x)

This function is returing Nothing:
None

In [ ]:
#Define a function which can return multiple values
def m1():
  a = 10
  b = 20
  return a,b
x,y = m1()
print("First value is:",x)
print("Second value is:",y)

First value is: 10
Second value is: 20

In [ ]:
#Define a function which can return multiple values
def m1():
  a = 10
  b = 12
  c = 18
  return a,b,c
x,y,z = m1()
print("First value is:",x)
print("Second value is:",y)
print("Third value is:",z)

First value is: 10
Second value is: 12
Third value is: 18

In [ ]:
#Define a function which can return multiple values
def m1():
  a = 18
  b = 22
  c = 17
  return a,b,c
x = m1()
print("All values:",x)

All values: (18, 22, 17)

In [ ]:
#A function with parameters and return type
def add(x,y,z):
  result = x+y+z
  return result
r = add(10,20,30)
print("Addition of values:",r)

Addition of values: 60

In [ ]:
#Create and call user defined function

#function creation
def display():
    print("Welcome to function")

#function calling
display()

Welcome to function

In [ ]:
#creating two functions and calling two functions

#function creation
def first():
     print("This is First Function")

def second():
     print("This is Second Function")

#function calling
first()
second()

This is First Function
This is Second Function

In [ ]:
#creating two functions and calling those functions
def first():
  print("This is First Function")

def second():
  print("This is Second Function")

second()
first()

This is Second Function
This is First Function

In [ ]:
#Creating two functions
def m1():
  print("First Function")

def m2():
  print("Second Function")

m1()
m2()

First Function
Second Function

In [ ]:
#One function can call another function
def m1():
  print("First Function")
  m2()
def m2():
  print("Second Function")
m1()

First Function
Second Function

In [ ]:
#function which having no parameters

#defining a function
def function():
  print("This is a function which having no parameters")

#calling Function'
function()

This is a function which having no parameters

In [ ]:
#One parameterized function

def testing(a):
    print("One parameterized function:",a)

testing(10)

One parameterized function: 10

In [ ]:
#One parameterized function
def testing(a):
   print("One parameterized function:",a)
testing(18.5)

One parameterized function: 18.5

In [ ]:
#One parameterized function
def testing(a):
   print("One parameterized function:",a)
testing("Uday")

One parameterized function: Uday

In [ ]:
#One parameterized function
def testing(a):
   print("One parameterized function:",a)

x = input("Enter a value")
testing(x)

Enter a value18
One parameterized function: 18

In [ ]:
#Two parameterized function
def testing(a,b):
   print("Two Parameterized Function:",a,b)
testing(18,5)

Two Parameterized Function: 18 5

In [ ]:
#Function Performing Adding Operation
def addition(a,b):
   print("Addition Of Two Values:",a+b)
addition(18,5)

Addition Of Two Values: 23