<a href="https://colab.research.google.com/github/Udaykiran06-art/PYTHON-FUNCTIONS/blob/main/Python_Functions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Formal and actual arguments
def add(a,b):
  c = a+b
  print(c)
#call the function
x = 10
y = 15
add(x,y)

25

In [ ]:
def add(x,y):
  c = (x+y)
  print(c)
#call the function
a = 18
b = 20
add(a,b)

38

In [ ]:
#positional arguments
def sub(a,b):
   print(a-b)

  #calling function
sub(20,10)

10

In [ ]:
#keyword arguments
def cart(product,price):
  print("Product is:",product)
  print("Price is:",price)

cart(product="Handbag",price=18000)

Product is: Handbag
Price is: 18000

In [ ]:
def cart(product,price):
  print("Product is:",product)
  print("Price is:",price)

cart(product="Bangles",price=2000)

Product is: Bangles
Price is: 2000

In [ ]:
def cart(product,price):
  print("Item is:",product)
  print("Cost is:",price)

cart(product="Shirts",price=5000)

Item is: Shirts
Cost is: 5000

In [ ]:
#Default arguments
def cart(product,price=2000.0):
  print("Product is:",product)
  print("Price is:",price)

cart(product="Jeans")

Product is: Jeans
Price is: 2000.0

In [ ]:
def cart(product,price=5000):
  print("Product is :",product)
  print("Price is :",price)

cart(product="Jeans",price=6000)

Product is : Jeans
Price is : 6000

In [ ]:
def cart(product,price=1000):
  print("Product is :",product)
  print("Price is :",price)

cart(price=500,product="Bat")

Product is : Bat
Price is : 500

In [ ]:
#Anonymous function
s = lambda a:a*a

x = s(5)
print(x)

25

In [ ]:
#To find square by using a normal function
def square(a):
    return a*a

s = square(6)
print(s)

36

In [ ]:
#To find sum of two values by using normal function
def add(x,y):
    return x+y

b = add(10,20)
print(b)

30

In [ ]:
#To find sum of values by using anonymous function
add = lambda x,y:x+y
result = add(10,20)
print("The sum of value is :",result)

The sum of value is : 30

In [ ]:
#find square by using map function
without_gst_cost = [100,200,300,400]
with_gst_cost = map(lambda x:x+10,without_gst_cost)

x = list(with_gst_cost)
print("without GST items costs:",without_gst_cost)
print("with GST items costs:",x)

without GST items costs: [100, 200, 300, 400]
with GST items costs: [110, 210, 310, 410]

In [ ]:
#example by using filter function
items_cost = [999,888,1100,1200,1300,777]
gt_thousand = filter(lambda x:x>1000,items_cost)

x = list(gt_thousand)
print("Eligible for discount:",x)

Eligible for discount: [1100, 1200, 1300]

In [ ]:
#reduce function
from functools import reduce
items_cost = [111,222,333,444]
total_cost = reduce(lambda x,y:x+y,items_cost)
print(total_cost)

1110